<form action="/signup" method="POST">
  <input type="text" name="email" placeholder="Enter E-MAIL" />
  <input type="text" name="username" placeholder="Enter A Username" />
  <input type="password" name="password" placeholder="Enter a Password" />
  <button type="submit">Sign up</button>
</form>
