<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lifestyle Smoothies</title>
    <link rel="stylesheet" href="/style.css" />
    <script defer src="/app.js"></script>
  </head>
  <body>
    <ul id="nav">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/smoothie">Menu</a>
      </li>
      <li>
        <a href="/smoothie/order">My Orders</a>
      </li>
      <li>
        <a href="/login">Login</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
    <%- body %>
  </body>
</html>
